In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\brmcic\anaconda3\lib\site-packages (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\brmcic\anaconda3\lib\site-packages (3.4.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\brmcic\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\brmcic\anaconda3\lib\site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\brmcic\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: numpy>=1.16 in c:\users\brmcic\anaconda3\lib\site-packages (from matplotlib) (1.20.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\brmcic\anaconda3\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\brmcic\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six in c:\users\brmcic\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\brmcic\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\brmcic\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\brmcic\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\brmcic\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\brmcic\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\brmcic\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\brmcic\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: setuptools in c:\users\brmcic\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\brmcic\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\brmcic\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\brmcic\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\brmcic\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\brmcic\anaconda3\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\brmcic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\brmcic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\brmcic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\brmcic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\brmcic\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: six in c:\users\brmcic\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\brmcic\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\brmcic\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
#Open dataframes
dataframeOrdem = pd.read_excel("product_data.xlsx")
dataframeProduto = pd.read_excel("product_data.xlsx")

#Order do not have product category
dataframeOrdem.head(5)

,ProductKey,SKU,Product,Standard Cost,Color,List Price,Model,Subcategory,Category
0,210.0,FR-R92B-58,"HL Road Frame - Black, 58",868.6342,Black,1431.5000,HL Road Frame,Road Frames,Components
1,211.0,FR-R92R-58,"HL Road Frame - Red, 58",868.6342,Red,1431.5000,HL Road Frame,Road Frames,Components
2,212.0,HL-U509-R,"Sport-100 Helmet, Red",12.0278,Red,33.6442,Sport-100,Helmets,Accessories
3,213.0,HL-U509-R,"Sport-100 Helmet, Red",13.8782,Red,33.6442,Sport-100,Helmets,Accessories
4,214.0,HL-U509-R,"Sport-100 Helmet, Red",13.0863,Red,34.9900,Sport-100,Helmets,Accessories

In [6]:
#Creating a new dataframe
dataframeMerged = pd.merge(dataframeOrdem, dataframeProduto, left_on='Product', right_on='Product').dropna()

dataframeMerged.head(5)

,ProductKey_x,SKU_x,Product,Standard Cost_x,Color_x,List Price_x,Model_x,Subcategory_x,Category_x,ProductKey_y,SKU_y,Standard Cost_y,Color_y,List Price_y,Model_y,Subcategory_y,Category_y
0,210.0,FR-R92B-58,"HL Road Frame - Black, 58",868.6342,Black,1431.5000,HL Road Frame,Road Frames,Components,210.0,FR-R92B-58,868.6342,Black,1431.5000,HL Road Frame,Road Frames,Components
1,211.0,FR-R92R-58,"HL Road Frame - Red, 58",868.6342,Red,1431.5000,HL Road Frame,Road Frames,Components,211.0,FR-R92R-58,868.6342,Red,1431.5000,HL Road Frame,Road Frames,Components
2,212.0,HL-U509-R,"Sport-100 Helmet, Red",12.0278,Red,33.6442,Sport-100,Helmets,Accessories,212.0,HL-U509-R,12.0278,Red,33.6442,Sport-100,Helmets,Accessories
3,212.0,HL-U509-R,"Sport-100 Helmet, Red",12.0278,Red,33.6442,Sport-100,Helmets,Accessories,213.0,HL-U509-R,13.8782,Red,33.6442,Sport-100,Helmets,Accessories
4,212.0,HL-U509-R,"Sport-100 Helmet, Red",12.0278,Red,33.6442,Sport-100,Helmets,Accessories,214.0,HL-U509-R,13.0863,Red,34.9900,Sport-100,Helmets,Accessories

In [15]:
#Grouping dataframe by product and transforming it from pandas object to list, keeping only category names
grouped = dataframeMerged.groupby("Product")
productOfGrouped = grouped['subcategory_x'].apply(list).to_list()
productOfGrouped[0:5]

[['Caps', 'Caps', 'Caps', 'Caps', 'Caps', 'Caps', 'Caps', 'Caps', 'Caps'],
 ['Chains'],
 ['Vests'],
 ['Vests'],
 ['Vests']]

In [17]:
#Deleting orders one item only in order to increase both confidence and lift
for lista in productOfGrouped:
    if len(lista) == 1:
        productOfGrouped.remove(lista)

In [18]:
#One hot encoding

from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
teArray = te.fit(productOfGrouped).transform(productOfGrouped)
teDataframe = pd.DataFrame(teArray, columns=te.columns_)

teDataframe.head()

,Bib-Shorts,Caps,Derailleurs,Gloves,Helmets,Jerseys,Mountain Bikes,Mountain Frames,Pedals,Road Bikes,Road Frames,Shorts,Socks,Tights,Touring Bikes,Touring Frames,Vests
0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False

In [19]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(teDataframe, min_support = 0.00005, use_colnames = True) 
frequent_itemsets.sort_values(by=['support'], ascending = True).head(10)

#Support is defined as frequency that both items occur together in the basket divided by total of transactions in the dataset
#Since there are too many orders with no category variability, support is low

     support       itemsets
0   0.009091   (Bib-Shorts)
13  0.009091       (Tights)
12  0.009091        (Socks)
16  0.009091        (Vests)
2   0.009091  (Derailleurs)
1   0.009091         (Caps)
11  0.018182       (Shorts)
4   0.027273      (Helmets)
8   0.027273       (Pedals)
3   0.036364       (Gloves)

In [28]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1)
#rules
rules.sort_values(by=['lift'], ascending = False).drop(['antecedent support', 'consequent support', 'leverage', 'conviction'], axis=1)

#Lift > 1 means that there's a significative association rule

Empty DataFrame
Columns: [antecedents, consequents, support, confidence, lift]
Index: []